body {
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.navbar-custom {
    background-color: rgba(223, 8, 8, 0.712);
    border-radius: 45px;
    color: white;
    padding: 10px;
    margin: 20px 25px;
    z-index: 10;
    position: relative;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: white !important;
}

.navbar-custom .nav-link:hover {
    color: lightgray !important;
}

.main-content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-direction: column;
}

.card {
    min-height: 940px;
    font-size: 1.18rem;
    border-radius: 22px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.22);
    background: rgba(0,0,0,0.18);
}

/* Margen derecho solo para la primera card */
.card.h-100.shadow.p-3 {
    margin-right: 36px;
    color: antiquewhite;
    text-align: justify;
}

.card-body {
    padding: 2.2rem 1.5rem 1.5rem 1.5rem;
}

.card-title {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.ratio {
    min-height: 260px;
}

.object-fit-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
}




